USE [master]
GO
/****** Object:  Database [BookStoreDB]    Script Date: 2025-12-01 11:20:01 ******/
CREATE DATABASE [BookStoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookStoreDB', FILENAME = N'C:\Users\Amnel\BookStoreDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookStoreDB_log', FILENAME = N'C:\Users\Amnel\BookStoreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookStoreDB]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 2025-12-01 11:20:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[ISBN13] [char](13) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Price] [decimal](10, 2) NULL,
	[LanguagesID] [int] NULL,
	[ReleaseDate] [date] NULL,
	[AuthorID] [int] NULL,
	[GenreID] [int] NULL,
	[FormatID] [int] NULL,
	[PublisherID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ISBN13] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stores]    Script Date: 2025-12-01 11:20:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stores](
	[StoreID] [int] IDENTITY(1,1) NOT NULL,
	[StoreName] [nvarchar](100) NULL,
	[Address] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreStock]    Script Date: 2025-12-01 11:20:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreStock](
	[StoreID] [int] NOT NULL,
	[ISBN] [char](13) NOT NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StoreID] ASC,
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[StoreStockView]    Script Date: 2025-12-01 11:20:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE TABLE Authors(
--AuthorID INT IDENTITY(1,1) PRIMARY KEY,
--FirstName NVARCHAR(100),
--LastName NVARCHAR(100),
--Birthdate DATE
--);

--CREATE TABLE Publishers(
--PublisherID INT IDENTITY(1,1) PRIMARY KEY,
--Name NVARCHAR(100),
--Country NVARCHAR(100)
--);

--CREATE TABLE Formats(
--FormatID INT IDENTITY(1,1) PRIMARY KEY,
--FormatType NVARCHAR(100)
--);

--CREATE TABLE Genres(
--GenreID INT IDENTITY(1,1) PRIMARY KEY,
--GenreName NVARCHAR(100)
--);

--CREATE TABLE Languages(
--LanguageID INT IDENTITY(1,1) PRIMARY KEY,
--LanguageName NVARCHAR(100)
--);

--CREATE TABLE Books(
--ISBN13 CHAR(13) PRIMARY KEY ,
--Title NVARCHAR(100),
--Price DECIMAL(10,2),
--LanguagesID INT,
--ReleaseDate DATE,
--AuthorID INT,
--GenreID INT,
--FormatID INT,
--PublisherID INT,
--FOREIGN KEY (LanguagesID) REFERENCES Languages (LanguageID),
--FOREIGN KEY (AuthorID) REFERENCES Authors (AuthorID),
--FOREIGN KEY (GenreID) REFERENCES Genres (GenreID),
--FOREIGN KEY (FormatID) REFERENCES Formats (FormatID),
--FOREIGN KEY (PublisherID) REFERENCES Publishers (PublisherID),
--);

--CREATE TABLE Stores(
--StoreID INT IDENTITY(1,1) PRIMARY KEY,
--StoreName NVARCHAR(100),
--Address NVARCHAR(100),
--City NVARCHAR(100)
--);

--CREATE TABLE StoreStock(
--StoreID INT,
--ISBN CHAR(13),
--Quantity INT,
--PRIMARY KEY (StoreID, ISBN)
--);


--CREATE PROCEDURE MoveBook
--    @FromStoreID INT,
--    @ToStoreID INT,
--    @ISBN CHAR(13),
--    @Quantity INT = 1
--AS
--BEGIN

--    IF NOT EXISTS (
--        SELECT 1 
--        FROM StoreStock
--        WHERE StoreID = @FromStoreID AND ISBN = @ISBN
--    )
--    BEGIN
--        PRINT 'The book does not exist in the source store.';
--        RETURN;
--    END

--    IF (SELECT Quantity FROM StoreStock
--        WHERE StoreID = @FromStoreID AND ISBN = @ISBN) < @Quantity
--    BEGIN
--        PRINT 'Not enough stock to move.';
--        RETURN;
--    END

--    UPDATE StoreStock
--    SET Quantity = Quantity - @Quantity
--    WHERE StoreID = @FromStoreID AND ISBN = @ISBN;

--    IF NOT EXISTS (
--        SELECT 1 FROM StoreStock
--        WHERE StoreID = @ToStoreID AND ISBN = @ISBN
--    )
--    BEGIN
--        INSERT INTO StoreStock (StoreID, ISBN, Quantity)
--        VALUES (@ToStoreID, @ISBN, @Quantity);
--    END
--    ELSE
--    BEGIN
--        UPDATE StoreStock
--        SET Quantity = Quantity + @Quantity
--        WHERE StoreID = @ToStoreID AND ISBN = @ISBN;
--    END
--END;


CREATE VIEW [dbo].[StoreStockView] AS
SELECT 
    StoreStock.StoreID,
    Stores.StoreName,
    StoreStock.ISBN,
    Books.Title AS BookTitle,
    StoreStock.Quantity
FROM StoreStock
JOIN Stores ON StoreStock.StoreID = Stores.StoreID
JOIN Books ON StoreStock.ISBN = Books.ISBN13;
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 2025-12-01 11:20:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[AuthorID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[Birthdate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formats]    Script Date: 2025-12-01 11:20:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formats](
	[FormatID] [int] IDENTITY(1,1) NOT NULL,
	[FormatType] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[FormatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 2025-12-01 11:20:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[GenreID] [int] IDENTITY(1,1) NOT NULL,
	[GenreName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Languages]    Script Date: 2025-12-01 11:20:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[LanguageID] [int] IDENTITY(1,1) NOT NULL,
	[LanguageName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[LanguageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 2025-12-01 11:20:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[PublisherID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Authors] ([AuthorID])
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([FormatID])
REFERENCES [dbo].[Formats] ([FormatID])
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([GenreID])
REFERENCES [dbo].[Genres] ([GenreID])
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([LanguagesID])
REFERENCES [dbo].[Languages] ([LanguageID])
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([PublisherID])
REFERENCES [dbo].[Publishers] ([PublisherID])
GO
/****** Object:  StoredProcedure [dbo].[MoveBook]    Script Date: 2025-12-01 11:20:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE TABLE Authors(
--AuthorID INT IDENTITY(1,1) PRIMARY KEY,
--FirstName NVARCHAR(100),
--LastName NVARCHAR(100),
--Birthdate DATE
--);

--CREATE TABLE Publishers(
--PublisherID INT IDENTITY(1,1) PRIMARY KEY,
--Name NVARCHAR(100),
--Country NVARCHAR(100)
--);

--CREATE TABLE Formats(
--FormatID INT IDENTITY(1,1) PRIMARY KEY,
--FormatType NVARCHAR(100)
--);

--CREATE TABLE Genres(
--GenreID INT IDENTITY(1,1) PRIMARY KEY,
--GenreName NVARCHAR(100)
--);

--CREATE TABLE Languages(
--LanguageID INT IDENTITY(1,1) PRIMARY KEY,
--LanguageName NVARCHAR(100)
--);

--CREATE TABLE Books(
--ISBN13 CHAR(13) PRIMARY KEY ,
--Title NVARCHAR(100),
--Price DECIMAL(10,2),
--LanguagesID INT,
--ReleaseDate DATE,
--AuthorID INT,
--GenreID INT,
--FormatID INT,
--PublisherID INT,
--FOREIGN KEY (LanguagesID) REFERENCES Languages (LanguageID),
--FOREIGN KEY (AuthorID) REFERENCES Authors (AuthorID),
--FOREIGN KEY (GenreID) REFERENCES Genres (GenreID),
--FOREIGN KEY (FormatID) REFERENCES Formats (FormatID),
--FOREIGN KEY (PublisherID) REFERENCES Publishers (PublisherID),
--);

--CREATE TABLE Stores(
--StoreID INT IDENTITY(1,1) PRIMARY KEY,
--StoreName NVARCHAR(100),
--Address NVARCHAR(100),
--City NVARCHAR(100)
--);

--CREATE TABLE StoreStock(
--StoreID INT,
--ISBN CHAR(13),
--Quantity INT,
--PRIMARY KEY (StoreID, ISBN)
--);


CREATE PROCEDURE [dbo].[MoveBook]
    @FromStoreID INT,
    @ToStoreID INT,
    @ISBN CHAR(13),
    @Quantity INT = 1
AS
BEGIN

    IF NOT EXISTS (
        SELECT 1 
        FROM StoreStock
        WHERE StoreID = @FromStoreID AND ISBN = @ISBN
    )
    BEGIN
        PRINT 'The book does not exist in the source store.';
        RETURN;
    END

    IF (SELECT Quantity FROM StoreStock
        WHERE StoreID = @FromStoreID AND ISBN = @ISBN) < @Quantity
    BEGIN
        PRINT 'Not enough stock to move.';
        RETURN;
    END

    UPDATE StoreStock
    SET Quantity = Quantity - @Quantity
    WHERE StoreID = @FromStoreID AND ISBN = @ISBN;

    IF NOT EXISTS (
        SELECT 1 FROM StoreStock
        WHERE StoreID = @ToStoreID AND ISBN = @ISBN
    )
    BEGIN
        INSERT INTO StoreStock (StoreID, ISBN, Quantity)
        VALUES (@ToStoreID, @ISBN, @Quantity);
    END
    ELSE
    BEGIN
        UPDATE StoreStock
        SET Quantity = Quantity + @Quantity
        WHERE StoreID = @ToStoreID AND ISBN = @ISBN;
    END
END;

GO
USE [master]
GO
